[Desktop Entry]
Type=Application
Name=Azurite
Comment=Manage Copper Archives
Exec=copper-fuze %f
Icon=package-x-generic
Terminal=false
MimeType=application/x-azurite;
Categories=Utility;Archiving;

# Right-click action: Extract Here
Actions=Extract;

[Desktop Action Extract]
Name=Extract Here
Exec=azurite -x --file %f
